* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* background image */
.bg-img {
  height: 100vh;
  background-image: url(assets/imgOne.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 280px;
}

/* dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* FIX */
  z-index: 1;
}

/* header */
.header {
  position: relative;     /* FIX */
  z-index: 2;             /* FIX */
  display: flex;
  justify-content: space-between; /* FIX */
  align-items: center;
  padding: 20px 60px;     /* FIX */
}

/* logo */
.logo {
  height: 40px;           /* FIX (Netflix-like) */
}

/* right buttons container */
.right {
  display: flex;          /* FIX */
  gap: 15px;     
  padding-right: 200px;         /* FIX */
}


.language {
  padding: 6px 14px;      /* SIMPLIFIED */
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 2px;
  color: white;           /* FIX */
  cursor: pointer;
  
}

.sign-in {
  padding: 8px 15px;
  background-color: #e50914; 
  border: none;              
  border-radius: 3px;
  color: white;              
  font-weight: bold;
  cursor: pointer;
}
