
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans", Arial, Helvetica, sans-serif;
}


.page-6 {
  background-color: black;
  color: white;
  padding: 80px 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.page-6 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}


.faq-container {
  display: flex;
  flex-direction: column;
  gap: 15px;          
  max-width: 700px;   
  margin: 0 auto;     
}


.faq-btn {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 25px;
  background-color: #303030;       
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;                   
  transition: background-color 0.3s ease;
}


.btn-text {
  flex: 1;        
  text-align: left;
}


.btn-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.3s ease;
}


.faq-btn:hover {
  background-color: #454545;       
}


.sign-inn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 40px auto 0;  
}

.sign-inn input {
  flex: 1;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}

.sign-inn button {
  padding: 16px 26px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.sign-inn button:hover {
  background-color: #f40612;
}

.page-6 p{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;

}


