.mid {
  display: flex;
  flex-direction: column; /* vertical stack */
  align-items: center;    /* center horizontally */
  text-align: center;     /* center multi-line text */
  position: relative;
  top: 25%;
  right: 10%;
  width: 80%;
  margin: 0 auto;
  z-index: 3;
}

.mid p {
  color: white;
  font-family: "Netflix Sans", Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

.p1 {
  font-size: 50px;
  font-weight: 900;
  white-space: nowrap;
}

.p2 {
  font-size: 30px;
  white-space: nowrap;
}

.p3 {
  font-size: 20px;
  max-width: 600px; 
  white-space: nowrap;
}

.sign-inn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;  /* space between input and button */
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  
}

.sign-inn input {
  flex: 1; /* input takes remaining space */
  padding: 12px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid gray;
  background-color: transparent;
}

.sign-inn button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #e50914;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
