.page-7{
  background-color: black;
  color: white;
  padding: 80px 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  min-height: 50vh;
}

.page-7 ul,
.page-7 p{
    color: gray;
}

.footer-links{
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.8;
  
}

.footer-country{
    margin-top: 20px;
}

.number{
    text-decoration: underline;
}